@keyframes bounce {
  0%{
    transform: rotate(-50deg);
  }
  10%{
    transform: rotate(-35deg);
  }
  70%{transform: rotate(25deg)
}
80%{
  transform: rotate(-10deg);
}
90%{
  transform: rotate(5deg);
}
100%{
  transform: rotate(0deg);
}
}