@use"reset" ;
@use"base" ;
@use"classes";
@use"utils";
@use"annimation";
@use"media";
.grid-container{
  display: grid;
  grid:
  "picture header"auto
  "aside main"1fr
  "footer footer"auto
  /350px auto;
  @include media.xs{
   grid:
   " header"auto
   " main"auto
   "picture"auto
   "aside"auto
   " footer"auto
   / auto;
  }
}
header{
  grid-area: header;
  min-height: 30rem;
  background: linear-gradient(to right ,var(--dark) , var(--light)) ;
  padding: 8rem 5rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    font-size:8rem;
    line-height: 8rem;
    font-weight:300 ;
    letter-spacing: 2.5rem;
    span{
      display: inline-block;
      animation: bounce 2s;
    }
    @include media.xs{
      font-size: 6rem;
      letter-spacing: 2rem;
    }

  }
  p{ 
    letter-spacing: 0.5rem;
    font-size: 2rem;

  }
}
.picture{
  grid-area: picture;
  padding: 6rem ;
  background-color: var(--background);
  border-right: 1px solid var(--border);
  img{
    border-radius:50%;
    width: 100%;
  }
}
aside{
  grid-area:aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;
  height:1500px;
  h3{
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  p{
    margin: 0 0 2rem 0;
    font-style: italic;
  }
  .bar-skill{
    margin:2rem 0;
    height: 5px;
    background:var(--hint);
    position: relative;

    .bar-skill-progress{
      position:absolute;
      height: 5px;
      top: 0;
      left:0;
      width: 80%;
      background: var(--light);
    }
    .bar-skill-dot {
      position: absolute;
      height:10px;
      width:10px;
      background: var(--dark);
      left: calc(80% - 5px);
      top:-2.5px;
      transform: rotate(45deg);


    }
  }
  .stars-container{
    display: flex;
    margin: 2rem 0 3rem 0;
    color: var(--hint);
    i{
      font-size:2rem;
      margin:0 1rem ;
    }

  }
  .social-container{
    display: flex;
    justify-content: start;
    align-items:center;
    padding: 2rem 0;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover{
      background:var(--hint);
      i{
        color: var(--primary);
        transform: scale(1.3);
      }
    }
    i{
      font-size:3rem;
      flex: 0 0 50px;
      margin-right: 3rem;
      transition: all 0.2s;
    }
    p{
      flex: auto;
      margin: 0;
    }
  }

}
main{
  grid-area: main;
  padding:5rem;
  h2{
    margin-bottom: 4rem;
    font-size:3rem !important;  
  }
  p{
    letter-spacing:0.1rem;
    line-height: 4rem;
    font-size: 2rem;
  }
  .experience{
    display: flex;
    margin-bottom: 5rem;
    .timeline{
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p{
        margin: 0;
      }
    }
    .content{
      padding: 0 1rem;
      margin-top: 0;
      h3{
        margin: 0;
      }
      p{
        margin: 0;
      }
      ul{
        list-style: circle;
        padding-left: 4rem;
        margin: 2rem 0;
      }
    }

  }
  
}
footer{
  grid-area: footer;
  padding:5rem;
  background: var(--text);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    margin-bottom: 3rem;
  }
  form{
    display: flex;
    align-items: center;
    line-height: 2rem;
    margin-bottom: 5rem;    
    .prefix{
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      font: size 1.5em;
      border-top-left-radius: 5px;
      border-bottom-left-radius:5px ;
    }
    button{
      background: linear-gradient(to left, var(--dark), var(--light));
      padding: 1rem 2rem;
      font: size 1.5em;
      color: white;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
      

    }
    input{
      min-width: 400px;
      padding: 1rem 2rem;
      border: 0;
      outline: none;

      ::placeholder{
        color: var(--text);
        border: 0;
      }
  }

  }
}